[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
pytest = "*"
dagster-pyspark = "*"
pyspark = "*"
dagster-aws = "*"
dagit = "*"
dagster-cron = "*"

[dev-packages]

[requires]
python_version = "3.8"
